header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 10rem; */
  padding: 0.5rem 6rem 0.5rem 100px;
  box-shadow: 0px 3px 3px 0px gray;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 100;
}
.logotxt {
  /* margin-left: 10rem; */
}
.txt {
  /*texto del logotxt*/
  font-family: "Kanit", sans-serif;
  font-size: 22px;
  font-weight: medium;
}
.nav-menu {
  display: flex;
  align-items: center;
  margin-right: 220px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.list-menu {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.list-menu li {
  margin-right: 4rem;
}
.list-menu a {
  text-decoration: none;
  color: black;
}
.list-menu a:hover {
  color: #2937f0;
}
i {
  color: white;
}
.btnnav {
  background-color: #2937f0;
  padding: 12px 18px;
  border-radius: 100px 100px;
  border: none;
  /*   margin-left: 20px; */
}

#btnfb {
  text-decoration: none;
  color: white;
}

main {
  padding-top: 4%;
}
.sec1 {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f9fa;
  padding: 0px 0px 20px 100px;
}

.sec1 h1 {
  font-family: "Newsreader", serif;
  font-size: 100px;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.sec1 p {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  color: #6c757d;
}
.cont1 {
  width: 100%;
  height: 100%;
  /* width: 49%; */
}

.celular {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: solid; */
  /* padding-bottom: 3rem; */
}

.cel1 {
  position: absolute;
  z-index: 3;
  width: 300px;
  height: 570px;
  top: 40px;
  left: 150px;
}

.circulo {
  position: absolute;
  z-index: 1;
  width: 450px;
  height: 450px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  left: 70px;
  top: 100px;
  background-image: linear-gradient(
    90deg,
    rgba(78, 38, 231, 1) 0%,
    rgba(149, 25, 222, 1) 100%
  );
}

.ondas {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 562px;
  top: 45px;
  left: 150px;
  border-radius: 50px;
}

.bola {
  width: 15px;
  position: absolute;
  top: 120px;
  left: 510px;
}
.x {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 500px;
  left: 70px;
}
