html {
  scroll-behavior: smooth;
}
.scroll-inicio {
  background-color: #2937f0;
  width: 48px;
  height: 45px;
  top: 650px;
  left: 1440px;
  border-radius: 10px;
  position: absolute;
  position: fixed;
  z-index: 50;
  text-align: center;
}
.arrow {
  line-height: 50px;
  width: 100px;
  font-size: 2rem;
}

/* HEADER */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 6rem 0.5rem 100px;
  box-shadow: 0px 3px 3px 0px gray;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 100;
}

/* LOGO */

.logotxt {
  font-family: "Kanit", sans-serif;
  font-size: 22px;
  font-weight: medium;
}

/* NAVBAR */

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: 220px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.list-menu {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.list-menu li {
  margin-right: 4rem;
}
.list-menu a {
  text-decoration: none;
  color: black;
}
.list-menu a:hover {
  color: #2937f0;
}
i {
  color: white;
}
.btnnav {
  background-color: #2937f0;
  padding: 12px 18px;
  border-radius: 100px 100px;
  border: none;
}

#btnfb {
  text-decoration: none;
  color: white;
}

main {
  position: relative;
}

/* INICIO*/

.container-inicio {
  height: 92vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f9fa;
  padding: 70px 0px 1px 100px;
  right: 0;
}

.container-inicio h1 {
  font-family: "Newsreader", serif;
  font-size: 100px;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.container-inicio p {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  color: #6c757d;
}
.articulo-inicio {
  width: 100%;
  height: 100%;
}

.figuras-inicio {
  position: relative;
  width: 100%;
  height: 100%;
}

.phone {
  position: absolute;
  z-index: 3;
  width: 300px;
  height: 570px;
  top: 40px;
  left: 150px;
}

.circulo-inicio {
  position: absolute;
  z-index: 1;
  width: 450px;
  height: 450px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  left: 70px;
  top: 100px;
  background-image: linear-gradient(
    90deg,
    rgba(78, 38, 231, 1) 0%,
    rgba(149, 25, 222, 1) 100%
  );
}

.ondas-inicio {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 562px;
  top: 45px;
  left: 150px;
  border-radius: 50px;
}

.bola-inicio {
  width: 15px;
  position: absolute;
  top: 120px;
  left: 510px;
}
.x-inicio {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 500px;
  left: 70px;
}

/* NOTAS */

.container_notas {
  background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)),
    url(/img/manopad.jpg);
  height: 90vh;
  background-size: cover;
  padding: 100px 0px 20px 100px;
}

.articulo-notas h2 {
  color: white;
  font-family: "Newsreader", serif;
  font-size: 100px;
  margin-bottom: 20px;
}

.btn-notas {
  background-color: transparent;
  padding: 20px 28px;
  border-radius: 50px;
  border: solid white;
  font-family: "Mulish", sans-serif;
  font-weight: medium;
  font-size: 20px;
}

.btn-notas a {
  text-decoration: none;
  color: white;
}

/* APRENDIZAJE */

.container-aprendizaje {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
}

.figuras-aprendizaje {
  position: relative;
  width: 110%;
  height: 100%;
  align-items: center;
}

.phone-aprendizaje {
  margin: 120px 100px 100px 190px;
  position: absolute;
  z-index: 3;
  width: 300px;
  height: 570px;
}
.conjuntos-aprendizaje {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
}

.conjuntos-aprendizaje div {
  align-items: center;
  text-align: center;
  padding-right: 100px;
  margin-top: 90px;
}

.conjuntos-aprendizaje div h3 {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  margin-bottom: 0px;
}

.conjuntos-aprendizaje div p {
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
  margin-top: 5px;
  color: #808080;
  font-weight: bold;
}

.icon-aprendizaje {
  font-size: 5rem;
  background: linear-gradient(#640589, #4200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arreglos {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.ondas-aprendizaje {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 562px;
  margin: 125px 0px 100px 190px;
  border-radius: 50px;
}
.circulo-aprendizaje {
  width: 350px;
  height: 350px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  left: 100px;
  top: 235px;
  background-image: linear-gradient(
    90deg,
    rgba(78, 38, 231, 1) 0%,
    rgba(149, 25, 222, 1) 100%
  );
  position: absolute;
  z-index: 2;
}

.bola-aprendizaje {
  position: absolute;
  top: 600px;
  width: 14px;
  left: 100px;
}

.x-aprendizaje {
  position: absolute;
  top: 140px;
  right: 100px;
  width: 20px;
  left: 550px;
}

/* FOOTER */

footer {
  background-color: black;
  height: 15vh;
  font-family: "Mulish", sans-serif;
  color: #808080;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  padding-top: 65px;
  font-weight: bold;
}
